#container {
	width: 100%;
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 0 !important;
}
#next-button-container {
	position: relative;
}
#hitbox-visualization {
	position: absolute;
	border: 3px solid red;
}
#next-button {
    position: absolute;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    bottom: 50px;
    transform: translate(-50%, 0);
	height: auto;
	min-height: 40px;
}
#message {
	font-size: 16px;
}
.error {
	color: red;
}
.success {
	color: green;
}
#email, #age {
	display: initial !important;
	width: auto !important;
}
textarea {
	display: initial !important;
    height: auto;
    width: 100% !important;
    max-width: 360px;
}
button {
	display: initial;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
}
#content-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    bottom: 0px;
    margin-top: 22px;
    height: auto;
	padding: 10px;
	border-radius: 2px;
}
#logo img {
	margin-top: 12px;
}
.translation {
	font-style: italic;
	font-size: 11px;
}
